{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - SB Admin Pro</title>
        <link href={% static "css/styles.css" %} rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <!-- Basic login form -->

                                

                                <div class="card shadow-lg border-0 rounded-lg mt-5">

                                    
                                    <div class="card card-header-actions">
                                        <div class="card-header ">
                                            ข้อมูลของฉัน
                                            <a class="btn btn-primary  btn-sm" href="{%url 'edituser' user.id %}"><i class='fas fa-tools'></i>&nbsp;แก้ไขข้อมูล</a>  
                                            
                                        </div>
                                        <div class="card-body">
                                            
                                            <h5 class="fw-light my-2"> ชื่อผู้ใช้ : {{user}} {{user.UserProfile.userf}}</h5>
                                            <h5 class="fw-light my-2"> รหัสนักศึกษา : {{profileuser1}}</h5>
                                            <h5 class="fw-light my-2">ชื่อ : {{user.first_name}}  {{user.last_name}}</h5>
                                            <h5 class="fw-light my-2"> สาขาวิชา : {{profileuser2}} </h5>
                                            
                                            
                                            <div class="card card-scrollable">
                                                <div class="card-body">
                                                    <h2 class="fw-light my-2 text-primary" align="center"> สรุปกิจกรรมของฉัน</h2>
                                                    <table class="table">
                                                      
                                                        <thead>
                                                          <tr>
                                                            <th scope="col">กิจกรรม</th>
                                                            <th scope="col">สถานะ</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for mydata in mydatasactivity%}
                                                        
                                                          <tr>
                                                            <td>{{mydata.0}}</td>
                                                        
                                                            <td><i class="{{mydata.1}}"></i></td>{% endfor %}
                                                          </tr>
                                                        </tbody>
                                                        
                                                        
                                                        
                                                      </table>
                                                    </div>
                                        </div>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer-admin mt-auto footer-dark">
                    <div class="container-xl px-4">
                        
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
